<div class="page-container">
  <p>Please enter your new password:</p>
  <label>Your Email:</label>
  {{input type="text" value=email name="email" placeholder="Enter your Email here."}}
  <label>Actual Password:</label>
  {{input type="password" value=currpass name="currpass" placeholder="Enter your actual password here"}}
  <label>New password:</label>
  {{input type="password" value=password name="password" placeholder="Enter new password here" size=25}}
  <label>Confirm new password:</label>
  {{input type="password" value=confpass name="confpass" placeholder="Confirm new password here" size=25}}
  <button class="btn-primary" {{action 'changePass'}}>Update</button>
</div>