<div class="navbartop">
    <p class="navbartop-left">{{#link-to 'my-devices'}}<img class="iotdklogo" src="/assets/images/iotdklogo.png">{{/link-to}}</p>
    {{#if session.isAuthenticated}}
    <p class="navbartop-right">Hello {{session.userName}}</p>
      <button class="navbartop-right-logout"{{action 'logout'}}>Logout</button>
    {{else}}
      <p class="navbartop-right">{{#link-to 'login'}}Please Login{{/link-to}}</p>
    {{/if}}
</div>

<div class="sidebar">
  <p class="sidebar-item">{{fa-icon "laptop"}} {{#link-to 'my-devices'}}My Devices{{/link-to}}</p>
  <p class="sidebar-item">{{fa-icon "calendar-o"}} {{#link-to 'event-log'}}Event Log{{/link-to}}</p>
  <p class="sidebar-item">{{fa-icon "arrows-h"}} {{#link-to 'export'}}Export{{/link-to}}</p>
  <p class="sidebar-item">{{fa-icon "pie-chart"}} {{#link-to 'analytics'}}Analytics{{/link-to}}</p>
  <p class="sidebar-item">{{fa-icon "cogs"}} {{#link-to 'settings'}}Settings{{/link-to}}</p>
  <p class="sidebar-item">{{fa-icon "question-circle"}} {{#link-to 'help'}}Help{{/link-to}}</p>
</div>
{{outlet}}